<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="copyright">
                    <p>© Direitos Autorais
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>
                        <a href="#">Arvyo</a> I Todos os Direitos Reservados
                    </p>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fi fi-brands-facebook"></i></a></li>
                        <li><a href="#"><i class="fi fi-brands-twitter"></i></a></li>
                        <li><a href="#"><i class="fi fi-brands-linkedin"></i></a></li>
                        <li><a href="#"><i class="fi fi-brands-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>