<div class="sidebar">
    <div class="brand-logo"><a class="full-logo" href="{% url 'index' %}"><img src="/static/images/logoi.png" alt=""
                width="30"></a></div>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'index' %}">
                    <span>
                        <i class="fi fi-rr-dashboard"></i>
                    </span>
                    <span class="nav-text">Início</span>
                </a>
            </li>
            <li>
                <a href="{% url 'wallets' %}">
                    <span>
                        <i class="fi fi-rr-wallet"></i>
                    </span>
                    <span class="nav-text">Carteiras</span>
                </a>
            </li>
            <li>
                <a href="{% url 'budgets' %}">
                    <span>
                        <i class="fi fi-rr-donate"></i>
                    </span>
                    <span class="nav-text">Orçamentos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'goals' %}">
                    <span>
                        <i class="fi fi-sr-bullseye-arrow"></i>
                    </span>
                    <span class="nav-text">Metas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'profile' %}">
                    <span>
                        <i class="fi fi-rr-user"></i>
                    </span>
                    <span class="nav-text">Perfil</span>
                </a>
            </li>
            <li>
                <a href="{% url 'analytics' %}">
                    <span>
                        <i class="fi fi-rr-chart-histogram"></i>
                    </span>
                    <span class="nav-text">Análises</span>
                </a>
            </li>
            <li>
                <a href="{% url 'support' %}">
                    <span>
                        <i class="fi fi-rr-user-headset"></i>
                    </span>
                    <span class="nav-text">Suporte</span>
                </a>
            </li>
            <li>
                <a href="{% url 'affiliates' %}">
                    <span>
                        <i class="fi fi-rs-link-alt"></i>
                    </span>
                    <span class="nav-text">Afiliados</span>
                </a>
            </li>
            <li>
                <a href="{% url 'settings' %}">
                    <span>
                        <i class="fi fi-rs-settings"></i>
                    </span>
                    <span class="nav-text">Configurações</span>
                </a>
            </li>
        </ul>
    </div>
</div>