{% extends '../layouts/layout.html' %}

{% block content %}

    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-4">
                                <div class="page-title-content">
                                    <h3>Geral</h3>
                                    <p class="mb-2">Bem-vindo à Gestão Financeira Arvyo</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="breadcrumbs"><a href="#">Início </a>
                                    <span><i class="fi fi-rr-angle-small-right"></i></span>
                                    <a href="#">Geral</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12 col-xl-12">
                    <div class="settings-menu">
                        <a href="{% url 'settings' %}">Conta</a>
                        <a href="{% url 'settingsGeneral' %}">Geral</a>
                        <a href="{% url 'settingsProfile' %}">Perfil</a>
                        <a href="{% url 'settingsBank' %}">Adicionar Banco</a>
                        <a href="{% url 'settingsSecurity' %}">Segurança</a>
                        <a href="{% url 'settingsSession' %}">Sessão</a>
                        <a href="{% url 'settingsCategories' %}">Categorias</a>
                        <a href="{% url 'settingsCurrencies' %}">Moedas</a>
                        <a href="{% url 'settingsApi' %}">Api</a>
                        <a href="{% url 'support' %}">Suporte</a>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Preferências</h4>
                                </div>
                                <div class="card-body">
                                    <form action="">
                                        <div class="row">
                                            <div class="mb-3 col-6">
                                                <label class="form-label">Moeda Principal</label>
                                                <select class="form-select">
                                                    <option>USD</option>
                                                    <option>CAD</option>
                                                    <option>Euro</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label class="form-label">Fuso Horário</label>
                                                <select class="form-select">
                                                    <option timeZoneId="1" gmtAdjustment="GMT-12:00"
                                                        useDaylightTime="0" value="-12">(GMT-12:00) Linha Internacional
                                                        de Data Ocidental</option>
                                                    <option timeZoneId="2" gmtAdjustment="GMT-11:00"
                                                        useDaylightTime="0" value="-11">(GMT-11:00) Ilhas Midway,
                                                        Samoa</option>
                                                    <option timeZoneId="3" gmtAdjustment="GMT-10:00"
                                                        useDaylightTime="0" value="-10">(GMT-10:00) Havaí
                                                    </option>
                                                    <option timeZoneId="4" gmtAdjustment="GMT-09:00"
                                                        useDaylightTime="1" value="-9">(GMT-09:00) Alasca
                                                    </option>
                                                    <option timeZoneId="5" gmtAdjustment="GMT-08:00"
                                                        useDaylightTime="1" value="-8">(GMT-08:00) Horário do Pacífico (EUA
                                                        e Canadá)</option>
                                                    <option timeZoneId="6" gmtAdjustment="GMT-08:00"
                                                        useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja
                                                        California</option>
                                                    <option timeZoneId="7" gmtAdjustment="GMT-07:00"
                                                        useDaylightTime="0" value="-7">(GMT-07:00) Arizona
                                                    </option>
                                                    <option timeZoneId="8" gmtAdjustment="GMT-07:00"
                                                        useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La
                                                        Paz, Mazatlan</option>
                                                    <option timeZoneId="9" gmtAdjustment="GMT-07:00"
                                                        useDaylightTime="1" value="-7">(GMT-07:00) Horário das Montanhas (EUA
                                                        e Canadá)</option>
                                                    <option timeZoneId="10" gmtAdjustment="GMT-06:00"
                                                        useDaylightTime="0" value="-6">(GMT-06:00) América Central
                                                    </option>
                                                    <option timeZoneId="11" gmtAdjustment="GMT-06:00"
                                                        useDaylightTime="1" value="-6">(GMT-06:00) Horário Central (EUA
                                                        e Canadá)</option>
                                                    <option timeZoneId="12" gmtAdjustment="GMT-06:00"
                                                        useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara,
                                                        Cidade do México, Monterrey</option>
                                                    <option timeZoneId="13" gmtAdjustment="GMT-06:00"
                                                        useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan
                                                    </option>
                                                    <option timeZoneId="14" gmtAdjustment="GMT-05:00"
                                                        useDaylightTime="0" value="-5">(GMT-05:00) Bogotá, Lima,
                                                        Quito, Rio Branco</option>
                                                    <option timeZoneId="15" gmtAdjustment="GMT-05:00"
                                                        useDaylightTime="1" value="-5">(GMT-05:00) Horário do Leste (EUA
                                                        e Canadá)</option>
                                                    <option timeZoneId="16" gmtAdjustment="GMT-05:00"
                                                        useDaylightTime="1" value="-5">(GMT-05:00) Indiana (Leste)
                                                    </option>
                                                    <option timeZoneId="17" gmtAdjustment="GMT-04:00"
                                                        useDaylightTime="1" value="-4">(GMT-04:00) Horário do Atlântico
                                                        (Canadá)
                                                    </option>
                                                    <option timeZoneId="18" gmtAdjustment="GMT-04:00"
                                                        useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz
                                                    </option>
                                                    <option timeZoneId="19" gmtAdjustment="GMT-04:00"
                                                        useDaylightTime="0" value="-4">(GMT-04:00) Manaus
                                                    </option>
                                                    <option timeZoneId="20" gmtAdjustment="GMT-04:00"
                                                        useDaylightTime="1" value="-4">(GMT-04:00) Santiago
                                                    </option>
                                                    <option timeZoneId="21" gmtAdjustment="GMT-03:30"
                                                        useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland
                                                    </option>
                                                    <option timeZoneId="22" gmtAdjustment="GMT-03:00"
                                                        useDaylightTime="1" value="-3">(GMT-03:00) Brasília
                                                    </option>
                                                    <option timeZoneId="23" gmtAdjustment="GMT-03:00"
                                                        useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires,
                                                        Georgetown
                                                    </option>
                                                    <option timeZoneId="24" gmtAdjustment="GMT-03:00"
                                                        useDaylightTime="1" value="-3">(GMT-03:00) Groenlândia
                                                    </option>
                                                    <option timeZoneId="25" gmtAdjustment="GMT-03:00"
                                                        useDaylightTime="1" value="-3">(GMT-03:00) Montevidéu
                                                    </option>
                                                    <option timeZoneId="26" gmtAdjustment="GMT-02:00"
                                                        useDaylightTime="1" value="-2">(GMT-02:00) Atlântico Médio
                                                    </option>
                                                    <option timeZoneId="27" gmtAdjustment="GMT-01:00"
                                                        useDaylightTime="0" value="-1">(GMT-01:00) Ilhas de Cabo Verde
                                                    </option>
                                                    <option timeZoneId="28" gmtAdjustment="GMT-01:00"
                                                        useDaylightTime="1" value="-1">(GMT-01:00) Açores
                                                    </option>
                                                    <option timeZoneId="29" gmtAdjustment="GMT+00:00"
                                                        useDaylightTime="0" value="0">(GMT+00:00) Casablanca,
                                                        Monróvia, Reykjavik</option>
                                                    <option timeZoneId="30" gmtAdjustment="GMT+00:00"
                                                        useDaylightTime="1" value="0">(GMT+00:00) Horário de Greenwich: Dublin, Edimburgo, Lisboa, Londres</option>
                                                    <option timeZoneId="31" gmtAdjustment="GMT+01:00"
                                                        useDaylightTime="1" value="1">(GMT+01:00) Amsterdã, Berlim,
                                                        Berna, Roma, Estocolmo, Viena
                                                    </option>
                                                    <option timeZoneId="32" gmtAdjustment="GMT+01:00"
                                                        useDaylightTime="1" value="1">(GMT+01:00) Belgrado,
                                                        Bratislava, Budapeste, Liubliana, Praga
                                                    </option>
                                                    <option timeZoneId="33" gmtAdjustment="GMT+01:00"
                                                        useDaylightTime="1" value="1">(GMT+01:00) Bruxelas,
                                                        Copenhague, Madrid, Paris</option>
                                                    <option timeZoneId="34" gmtAdjustment="GMT+01:00"
                                                        useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje,
                                                        Varsóvia, Zagreb</option>
                                                    <option timeZoneId="35" gmtAdjustment="GMT+01:00"
                                                        useDaylightTime="1" value="1">(GMT+01:00) África Ocidental Central
                                                    </option>
                                                    <option timeZoneId="36" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Amã
                                                    </option>
                                                    <option timeZoneId="37" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Atenas, Bucareste,
                                                        Istambul
                                                    </option>
                                                    <option timeZoneId="38" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Beirute
                                                    </option>
                                                    <option timeZoneId="39" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Cairo
                                                    </option>
                                                    <option timeZoneId="40" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretória
                                                    </option>
                                                    <option timeZoneId="41" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Helsinque, Kiev,
                                                        Riga, Sófia, Tallinn, Vilnius
                                                    </option>
                                                    <option timeZoneId="42" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Jerusalém
                                                    </option>
                                                    <option timeZoneId="43" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Minsk
                                                    </option>
                                                    <option timeZoneId="44" gmtAdjustment="GMT+02:00"
                                                        useDaylightTime="1" value="2">(GMT+02:00) Windhoek
                                                    </option>
                                                    <option timeZoneId="45" gmtAdjustment="GMT+03:00"
                                                        useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riade,
                                                        Bagdá
                                                    </option>
                                                    <option timeZoneId="46" gmtAdjustment="GMT+03:00"
                                                        useDaylightTime="1" value="3">(GMT+03:00) Moscou, São
                                                        Petersburgo, Volgogrado</option>
                                                    <option timeZoneId="47" gmtAdjustment="GMT+03:00"
                                                        useDaylightTime="0" value="3">(GMT+03:00) Nairóbi
                                                    </option>
                                                    <option timeZoneId="48" gmtAdjustment="GMT+03:00"
                                                        useDaylightTime="0" value="3">(GMT+03:00) Tbilisi
                                                    </option>
                                                    <option timeZoneId="49" gmtAdjustment="GMT+03:30"
                                                        useDaylightTime="1" value="3.5">(GMT+03:30) Teerã
                                                    </option>
                                                    <option timeZoneId="50" gmtAdjustment="GMT+04:00"
                                                        useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat
                                                    </option>
                                                    <option timeZoneId="51" gmtAdjustment="GMT+04:00"
                                                        useDaylightTime="1" value="4">(GMT+04:00) Baku
                                                    </option>
                                                    <option timeZoneId="52" gmtAdjustment="GMT+04:00"
                                                        useDaylightTime="1" value="4">(GMT+04:00) Yerevan
                                                    </option>
                                                    <option timeZoneId="53" gmtAdjustment="GMT+04:30"
                                                        useDaylightTime="0" value="4.5">(GMT+04:30) Cabul
                                                    </option>
                                                    <option timeZoneId="54" gmtAdjustment="GMT+05:00"
                                                        useDaylightTime="1" value="5">(GMT+05:00) Ecaterimburgo
                                                    </option>
                                                    <option timeZoneId="55" gmtAdjustment="GMT+05:00"
                                                        useDaylightTime="0" value="5">(GMT+05:00) Islamabad,
                                                        Carachi, Tashkent</option>
                                                    <option timeZoneId="56" gmtAdjustment="GMT+05:30"
                                                        useDaylightTime="0" value="5.5">(GMT+05:30) Sri
                                                        Jayawardenapura
                                                    </option>
                                                    <option timeZoneId="57" gmtAdjustment="GMT+05:30"
                                                        useDaylightTime="0" value="5.5">(GMT+05:30) Chennai,
                                                        Calcutá, Mumbai, Nova Delhi</option>
                                                    <option timeZoneId="58" gmtAdjustment="GMT+05:45"
                                                        useDaylightTime="0" value="5.75">(GMT+05:45) Catmandu
                                                    </option>
                                                    <option timeZoneId="59" gmtAdjustment="GMT+06:00"
                                                        useDaylightTime="1" value="6">(GMT+06:00) Almaty,
                                                        Novosibirsk
                                                    </option>
                                                    <option timeZoneId="60" gmtAdjustment="GMT+06:00"
                                                        useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka
                                                    </option>
                                                    <option timeZoneId="61" gmtAdjustment="GMT+06:30"
                                                        useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)
                                                    </option>
                                                    <option timeZoneId="62" gmtAdjustment="GMT+07:00"
                                                        useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanói,
                                                        Jacarta
                                                    </option>
                                                    <option timeZoneId="63" gmtAdjustment="GMT+07:00"
                                                        useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk
                                                    </option>
                                                    <option timeZoneId="64" gmtAdjustment="GMT+08:00"
                                                        useDaylightTime="0" value="8">(GMT+08:00) Pequim,
                                                        Chongqing, Hong Kong, Urumqi
                                                    </option>
                                                    <option timeZoneId="65" gmtAdjustment="GMT+08:00"
                                                        useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur,
                                                        Singapura
                                                    </option>
                                                    <option timeZoneId="66" gmtAdjustment="GMT+08:00"
                                                        useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan
                                                        Bator
                                                    </option>
                                                    <option timeZoneId="67" gmtAdjustment="GMT+08:00"
                                                        useDaylightTime="0" value="8">(GMT-08:00) Perth
                                                    </option>
                                                    <option timeZoneId="68" gmtAdjustment="GMT+08:00"
                                                        useDaylightTime="0" value="8">(GMT-08:00) Taipé
                                                    </option>
                                                    <option timeZoneId="69" gmtAdjustment="GMT+09:00"
                                                        useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo,
                                                        Tóquio
                                                    </option>
                                                    <option timeZoneId="70" gmtAdjustment="GMT+09:00"
                                                        useDaylightTime="0" value="9">(GMT+09:00) Seul
                                                    </option>
                                                    <option timeZoneId="71" gmtAdjustment="GMT+09:00"
                                                        useDaylightTime="1" value="9">(GMT+09:00) Yakutsk
                                                    </option>
                                                    <option timeZoneId="72" gmtAdjustment="GMT+09:30"
                                                        useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide
                                                    </option>
                                                    <option timeZoneId="73" gmtAdjustment="GMT+09:30"
                                                        useDaylightTime="0" value="9.5">(GMT+09:30) Darwin
                                                    </option>
                                                    <option timeZoneId="74" gmtAdjustment="GMT+10:00"
                                                        useDaylightTime="0" value="10">(GMT+10:00) Brisbane
                                                    </option>
                                                    <option timeZoneId="75" gmtAdjustment="GMT+10:00"
                                                        useDaylightTime="1" value="10">(GMT+10:00) Canberra,
                                                        Melbourne, Sydney</option>
                                                    <option timeZoneId="76" gmtAdjustment="GMT+10:00"
                                                        useDaylightTime="1" value="10">(GMT+10:00) Hobart
                                                    </option>
                                                    <option timeZoneId="77" gmtAdjustment="GMT+10:00"
                                                        useDaylightTime="0" value="10">(GMT+10:00) Guam, Port
                                                        Moresby
                                                    </option>
                                                    <option timeZoneId="78" gmtAdjustment="GMT+10:00"
                                                        useDaylightTime="1" value="10">(GMT+10:00) Vladivostok
                                                    </option>
                                                    <option timeZoneId="79" gmtAdjustment="GMT+11:00"
                                                        useDaylightTime="1" value="11">(GMT+11:00) Magadan, Ilhas Salomão, Nova Caledônia</option>
                                                    <option timeZoneId="80" gmtAdjustment="GMT+12:00"
                                                        useDaylightTime="1" value="12">(GMT+12:00) Auckland,
                                                        Wellington
                                                    </option>
                                                    <option timeZoneId="81" gmtAdjustment="GMT+12:00"
                                                        useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka,
                                                        Ilhas Marshall</option>
                                                    <option timeZoneId="82" gmtAdjustment="GMT+13:00"
                                                        useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-success pl-5 pr-5">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Notificações</h4>
                                </div>
                                <div class="card-body">
                                    <form action="">
                                        <div class="row col-6">
                                            <div class="mb-3 mb-0">
                                                <label class="toggle">
                                                    <input class="toggle-checkbox" type="checkbox" checked>
                                                    <div class="toggle-switch"></div>
                                                    <span class="toggle-label">Eu envio ou recebo
                                                        moeda digital</span>
                                                </label>
                                                <label class="toggle">
                                                    <input class="toggle-checkbox" type="checkbox">
                                                    <div class="toggle-switch"></div>
                                                    <span class="toggle-label">Eu recebo pedido de comerciante</span>
                                                </label>
                                                <label class="toggle">
                                                    <input class="toggle-checkbox" type="checkbox">
                                                    <div class="toggle-switch"></div>
                                                    <span class="toggle-label">Há recomendações para minha
                                                        conta</span>
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-success">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}