{% extends '../layouts/layout.html' %}

{% block content %}

    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-4">
                                <div class="page-title-content">
                                    <h3>Detalhes do Ticket</h3>
                                    <p class="mb-2">Bem-vindo à Gestão Financeira Arvyo</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="breadcrumbs"><a href="#">Início </a>
                                    <span><i class="fi fi-rr-angle-small-right"></i></span>
                                    <a href="#">Detalhes do Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card create_ticket_details">
                        <div class="card-header">
                            <div>
                                <h5>Estou tendo problemas para registrar minhas horas diárias <span
                                        class="badge bg-success">ABERTO</span></h5>
                                <p class="mb-0">Postado em 24 de junho de 2025</p>
                            </div>
                            <button class="btn btn-danger">
                                <span><i class="la la-close"></i></span>Fechar Ticket
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="ticket_details">
                                <div class="ticket-desc">
                                    <p>lorem Ipsum é simplesmente um texto fictício da indústria de impressão e
                                        composição. Lorem Ipsum é o texto fictício padrão da indústria desde os
                                        anos 1500. lorem Ipsum é simplesmente um texto fictício da indústria de
                                        impressão e composição. Lorem Ipsum é o texto fictício padrão da indústria
                                        desde os anos 1500.</p>
                                </div>
                                <div class="comment-reply">
                                    <div class="d-flex align-items-start">
                                        <img src="/static/images/profile/2.png" alt="" class="me-3">
                                        <div class="flex-grow-1">
                                            <h5>Rick Henary</h5>
                                            <span>Postado em 24 de junho de 2025</span>
                                            <p>lorem Ipsum é simplesmente um texto fictício da indústria de
                                                impressão e composição. Lorem Ipsum é o texto fictício padrão da
                                                indústria desde os anos 1500. lorem Ipsum é simplesmente um texto
                                                fictício da indústria de impressão e composição. Lorem Ipsum é o texto
                                                fictício padrão da indústria desde os anos 1500.</p>
                                        </div>
                                        <span>REPORTAR</span>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <img src="/static/images/profile/3.png" alt="" class="me-3">
                                        <div class="flex-grow-1">
                                            <form action="#">
                                                <textarea rows="5" class="form-control"></textarea>
                                                <button class="btn btn-primary">Adicionar Resposta</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="d-flex user_admin  align-items-start">
                                        <img src="/static/images/profile/4.png" alt="" class="me-3">
                                        <div class="flex-grow-1 ">
                                            <h5>Admin</h5>
                                            <span>Postado em 24 de junho de 2025</span>
                                            <p>lorem Ipsum é simplesmente um texto fictício da indústria de
                                                impressão e composição. Lorem Ipsum é o texto fictício padrão da
                                                indústria desde os anos 1500. lorem Ipsum é simplesmente um texto
                                                fictício da indústria de impressão e composição. Lorem Ipsum é o texto
                                                fictício padrão da indústria desde os anos 1500.</p>
                                            <a href="#">Adicionar Resposta</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <img src="/static/images/profile/1.png" alt="" class="me-3">
                                        <div class="flex-grow-1 ">
                                            <h5>Thomas Halva </h5>
                                            <span>Postado em 24 de junho de 2025</span>
                                            <p>lorem Ipsum é simplesmente um texto fictício da indústria de
                                                impressão e composição. Lorem Ipsum é o texto fictício padrão da
                                                indústria desde os anos 1500. lorem Ipsum é simplesmente um texto
                                                fictício da indústria de impressão e composição. Lorem Ipsum é o texto
                                                fictício padrão da indústria desde os anos 1500.</p>
                                            <a href="#">Adicionar Resposta</a>
                                        </div>
                                        <span>REPORTAR</span>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <img src="/static/images/profile/2.png" alt="" class="me-3">
                                        <div class="flex-grow-1 ">
                                            <h5>Bastian Swest</h5>
                                            <span>Postado em 24 de junho de 2025</span>
                                            <p>lorem Ipsum é simplesmente um texto fictício da indústria de
                                                impressão e composição. Lorem Ipsum é o texto fictício padrão da
                                                indústria desde os anos 1500. lorem Ipsum é simplesmente um texto
                                                fictício da indústria de impressão e composição. Lorem Ipsum é o texto
                                                fictício padrão da indústria desde os anos 1500.</p>
                                            <a href="#">Adicionar Resposta</a>
                                        </div>
                                        <span>REPORTAR</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}